

<%- include('includes/end.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <%- include('includes/navigation.ejs', { role: role }) %>
    <h1>Some issue occurred</h1>
    <p>Sorry! We are working on it.</p>
</body>
</html>
